.FlyInOutAnimation {
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -o-transform: translateY(35px);
    transform: translateY(35px);

    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -ms-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.FlyInOutAnimation--act {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;

    -webkit-animation-name: fly-in-out;
    -moz-animation-name: fly-in-out;
    -o-animation-name: fly-in-out;
    animation-name: fly-in-out;
}

@-webkit-keyframes fly-in-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fly-in-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
